@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:active, :hover, :focus {
    outline: none;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 117%;
    font-size: 24px;
    color: #383838;
    font-family: Roboto, sans-serif;
}

/*--------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------------------------------*/
._container {
    max-width: 1264px;
    padding: 120px 16px;
    margin: 0 auto;
}


/*---------Header-----------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    margin-top: -70px;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    line-height: 46px;
}

.menu__item {
    margin-right: 24px;
}

.menu__link:hover::after {
    content: "";
    display: block;
    align-self: flex-end;
    border-bottom: 4px #F5BD41 solid;
    margin-bottom: -4px;
}

.menu__icons {
    display: flex;
    align-items: center;
}

.night-icon {
    margin-left: 24px;
}

.account-icon {
    margin-left: 24px;
}

/*---------Main-----------------------------------------------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {
    background: url("../images/background -main.jpg") center no-repeat;
    background-size: cover;
}

.main-block {

}

.main-block__container {
    padding-top: 296px;
}

.main-block__title {
    color: #FFFFFF;
    font-size: 50px;
    line-height: calc(58.59 / 50 * 100%);
    font-weight: 500;
    margin-bottom: 145px;
}

.main-block__form {
}

.main-block__search {
    display: flex;
    height: 64px;
    font-size: 18px;
    width: 100%;
    background-color: #FFFFFF;
    border: 3px #F3F3F4 solid;
    border-radius: 8px;
    margin-bottom: 120px;
}

.search_destination {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;

}

.search_destination input {
    width: 100%;
    font-size: 18px;
    color: #383838;
    font-family: Roboto, sans-serif;
    margin: 0 24px;
    padding-left: 5px;
}

.label__destinations-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    transform: translate(0, 15px);
}

.search_destination:focus-within {
    border: 3px #F5BD41 solid;
    margin: -3px;
}

.search_destination input:focus + .label__destinations-text {
    transform: translate(0, -50px);
    color: #FFFFFF;
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 8px;
}
.search_destination input:valid + .label__destinations-text{
    transform: translate(0, -50px);
    color: #FFFFFF;
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 8px;
}
.search-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 10px;
}

.search-dates:focus-within {
    border: 3px #F5BD41 solid;
    margin: -3px;
}

.search_check-in {
    position: relative;
}

.check-in__label {
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: -64px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.search_check-out {
    position: relative;
}

.check-out__label {
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: -64px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.check-in-day,
.check-out-day,
.check-out-day option,
.check-in-day option,
.check-in-month,
.check-in-month option,
.check-out-month,
.check-out-month option {
    font-size: 18px;
    color: #383838;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.search_check-out {
}

.search_condition {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 10px;
}

.search_condition:focus-within {
    border: 3px #F5BD41 solid;
    margin: -3px;
}

.adults-number {
}

.condition-input {
    width: 20px;
    font-size: 18px;
    color: #383838;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.children-number {
}

.room-number {
}

.search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3077C6;
    border-radius: 8px;
    border: 3px #3077C6 solid;
    margin: -3px -3px -3px 3px;
}

.search_button button {
    background-color: #3077C6;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 57px;

}

.main-block__apps {
    display: flex;
    justify-content: center;
}

.main-block__apps :nth-child(2) {
    margin-left: 16px;
}

/*---------Section-----------------------------------------------------------------*/
._section__title {
    line-height: 47px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

._section__title:hover::after {
    content: "";
    display: block;
    margin: 20px auto -24px;
    height: 4px;
    width: 100px;
    background-color: #F5BD41;
}

.section__body {
    display: flex;
    margin: 104px -8px 0;
    position: relative;
}

._content {
    padding: 0 8px;
    flex: 0 1 25%;
}

.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__icon {
    margin-bottom: 48px;
}

.content__img {
    display: block;
    max-width: 100%;
}

.place-name {
    align-self: flex-start;
    color: #3077C6;
    margin-top: 24px;
}

.place-location {
    align-self: flex-start;
    color: #BFBFBF;
    margin-top: 24px;
}

.homes {
    background-color: #EAF0F9;
}

.arrow-right {
    position: absolute;
    left: 100%;
    top: 30%;
    transform: translate(-70%, 0%);

}

.section__body-destinations {
    margin-top: 0;
}

.tabs {
    background-color: #F3F3F4;
    display: flex;
    text-align: center;
    max-width: 620px;
    line-height: 64px;
    margin: 104px 0 64px;
    border-radius: 8px;
}

.tab-regions {
    background-color: #3077C6;
    border-radius: 8px;
    color: #FFFFFF;
    width: 192px;
}

.tab-cities {
    width: 192px;
}

.tab-places {
    max-width: 100%;
    flex-grow: 1;
}

.arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 48px
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservation__shadow {
    min-width: 295px;
    min-height: 295px;
    position: relative;
    z-index: -2;
    background-color: rgba(56, 56, 56, 0.4);
    box-shadow: 0 4px 70px 0 rgba(56, 56, 56, 0.5) inset;
}

.reservation__img {
    display: block;
    max-width: 100%;
    position: absolute;
    z-index: 0;
}

.reservation__booking {
    position: absolute;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px #3077C6 solid;
    border-radius: 8px;
    margin: 0 auto;
    padding: 0 24px;
    z-index: -1;
}

.reservation__booking a {

    font-size: 18px;
    color: #3077C6;
    line-height: 48px;
}

.reservation__img:hover {
    z-index: -3;
}

/*---------Footer-----------------------------------------------------------------*/
.footer {
    background-color: #10367C;
    color: #FFFFFF;
}

.footer__body {
    display: flex;
}

.footer__content {
    flex: 0 1 33.333%;
}

.footer__content p {
    font-weight: 500;
    font-size: 20px;
}

.footer__content a {
    font-size: 20px;
}

.footer__content li {
    margin-bottom: 24px;
}

.copyright {
    margin-top: 40px;
    font-size: 14px;
}