@import url('fonts.css');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:active, :hover, :focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 117%;
    font-size: 24px;
    color: #383838;
    font-family: Roboto, sans-serif;
}

/*--------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------------------------------*/
._container {
    max-width: 1264px;
    padding: 120px 16px;
    margin: 0 auto;
}


/*---------Header-----------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    margin-top: -70px;
    align-items: center;
    justify-content: space-between;
}

.header__logo a {
    display: flex;
    align-items: center;
}

.header__logo-svg {
    fill: #3077C6;
    width: 205px;
    height: 40px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.burger-checkbox {
    display: none;
}

.burger-btn {
    display: none;
}

.menu__list {
    display: flex;
    line-height: 46px;
}

.menu__item {
    margin-right: 24px;
}

.menu__link::after {
    content: "";
    display: block;
    align-self: flex-end;
    border-bottom: 4px #F5BD41 solid;
    margin-bottom: -4px;
    position: relative;
    top: -10px;
    opacity: 0;
    transition: all 1s ease 0.2s;
}

.menu__link:hover::after {
    top: 0;
    opacity: 1;
}

.menu__icons {
    display: flex;
    align-items: center;
}

.night-icon {
    display: flex;
}

.night-svg {
    margin-left: 24px;
    height: 30px;
    width: 30px;
}

.account-icon {
    display: flex;
}

.account-svg {
    fill: #FFFFFF;
    margin-left: 24px;
    height: 40px;
    width: 40px;
}

/*---------Main-----------------------------------------------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {
    min-height: 100vh;
    background: url("../images/Main_Block/background_cover.jpg") center no-repeat;
    background-size: cover;
}

.main-block__container {
    min-height: 100vh;
    padding-top: 296px;
}

.main-block__title {
    color: #FFFFFF;
    font-size: 50px;
    line-height: calc(58.59 / 50 * 100%);
    font-weight: 500;
    margin-bottom: 145px;
}

.main-block__search {
    display: flex;
    height: 64px;
    font-size: 18px;
    width: 100%;
    background-color: #FFFFFF;
    border: 3px #F3F3F4 solid;
    border-radius: 8px;
    margin-bottom: 120px;
}

.search_destination {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;

}

.searching-svg {
    display: none;
}

.search_destination input {
    width: 100%;
    font-size: 18px;
    color: #383838;
    font-family: Roboto, sans-serif;
    margin: 0 24px;
    padding-left: 5px;
}

.placeholder-color::placeholder {
    color: #FFFFFF;
}

.label__destinations-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    transform: translate(0, 15px);
    transition: all 0.5s ease 0.1s;
}

.search_destination:focus-within {
    border: 3px #F5BD41 solid;
    margin: -3px;
}

.search_destination input:focus + .label__destinations-text,
.search_destination input:valid + .label__destinations-text {
    transform: translate(0, -50px);
    color: #FFFFFF;
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 8px;
}

.search-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 10px;
}

.search-dates:focus-within {
    border: 3px #F5BD41 solid;
    margin: -3px;
}

.search_check-in {
    position: relative;
}

.check-in__label {
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: -64px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.search_check-out {
    position: relative;
}

.check-out__label {
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: -64px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.check-in-day,
.check-out-day,
.check-out-day option,
.check-in-day option,
.check-in-month,
.check-in-month option,
.check-out-month,
.check-out-month option {
    font-size: 18px;
    color: #383838;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.search_check-out {
}

.search_condition {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 10px;
}

.search_condition:focus-within {
    border: 3px #F5BD41 solid;
    margin: -3px;
}

.adults-number {
}

.condition-input {
    width: 20px;
    font-size: 18px;
    color: #383838;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.children-number {
}

.room-number {
}

.search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3077C6;
    border-radius: 8px;
    border: 3px #3077C6 solid;
    margin: -3px -3px -3px 3px;
}

.search_button button {
    background-color: #3077C6;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 57px;

}

.main-block__apps {
    line-height: 0;
    display: flex;
    justify-content: center;
}

.main-block__apps :nth-child(2) {
    margin-left: 16px;
}

.google-play_svg {
    width: 135px;
    height: 40px;
}

.app_store_svg {
    width: 120px;
    height: 40px;
}

/*---------Section-----------------------------------------------------------------*/
._section__title {
    line-height: 47px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

._section__title::after {
    content: "";
    display: block;
    margin: 20px auto -24px;
    height: 4px;
    width: 100px;
    background-color: #F5BD41;
    position: relative;
    top: -20px;
    opacity: 0;
    transition: all 1s ease 0.2s;
}

._section__title:hover::after {
    opacity: 1;
    top: 0;
}


.section__body {
    display: flex;
    margin: 104px -8px 0;
    position: relative;
}

._content {
    padding: 0 8px;
    flex: 0 1 25%;
}

._button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px #3077C6 solid;
    width: 128px;
    height: 48px;
}

._button a {
    color: #3077C6;
    font-size: 18px;
}

.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__icon {
    display: block;
    margin-bottom: 48px;
    height: 100px;
    width: 100px;
}

.content__img {
    display: block;
    width: 100%;
}

.place-name {
    align-self: flex-start;
    color: #3077C6;
    margin-top: 24px;
}

.place-location {
    align-self: flex-start;
    color: #BFBFBF;
    margin-top: 24px;
}

.homes {
    background-color: #EAF0F9;
}

.arrow-right {
    line-height: 0;
    position: absolute;
    left: 100%;
    top: 30%;
    transform: translate(-70%, 0%);

}

.arrow_svg {
    fill: #FFFFFF;
    height: 50px;
    width: 50px;
}

.section__body-destinations {
    margin-top: 0;
}

.tabs {
    background-color: #F3F3F4;
    display: flex;
    text-align: center;
    max-width: 620px;
    line-height: 64px;
    margin: 104px 0 64px;
    border-radius: 8px;
}

.tab-regions {
    background-color: #3077C6;
    border-radius: 8px;
    color: #FFFFFF;
    width: 192px;
}

.tab-cities {
    width: 192px;
}

.tab-places {
    max-width: 100%;
    flex-grow: 1;
}

.arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 48px
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.reservation__shadow {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(56, 56, 56, 0.4);
    box-shadow: 0 4px 70px 0 rgba(56, 56, 56, 0.5) inset;
}

.reservation__img {
    display: block;
    max-width: 100%;
}

.reservation__booking {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover_effect {
    opacity: 0;
    transition: all 1s ease-in 0.5s;
}

.hover_effect:hover {
    opacity: 1;
}

.destinations__arrow-right {
    display: none;
}

.sign-up_section {
    max-width: 1232px;
    padding: 24px 24px 52px 24px;
    margin: 0 auto;
    background-color: #EAF0F9;
}

.close-X {
    display: flex;
    justify-content: flex-end;
}

.close-svg {
    height: 26px;
    width: 26px;
}

.sign-up_logo {
    margin: 0 16px;
    background-color: #3077C6;
    height: 58px;
    width: 58px;
    border-radius: 4px;
}

.sign-up_section_adaptive {
    display: none;
}

.sign-up_logo-svg {
    fill: #FFFFFF;
    height: 11px;
    width: 53px;
}

.sign-up_content {
    display: flex;
}

.sign-up_user {
    padding-right: 24px;
}

.user-svg {
    height: 86px;
    width: 86px;
}

.sign-up_body {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__section__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reviews__content {
    display: grid;
}

.reviews__content__item {
    position: relative;
}

.reviews_img {
    position: relative;
}

.reviews_price {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    align-items: center;
    padding-left: 24px;
    height: 48px;
    width: 100%;
    font-size: 18px;
    background-color: rgba(56, 56, 56, 0.7);
    color: #FFFFFF;
}

.amount_of_money {
    font-weight: 500;
}

.reviews_subject {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
    background-color: #EAF0F9;
    font-size: 18px;
}

.subject_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #3077C6;
    margin-bottom: 24px;
}

.head_name {
    font-weight: 500;
    margin-bottom: 4px;
}

.head_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.subject_score {
    width: max-content;
    padding: 2px 11px;
    background-color: #10367C;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;
}

.amount_pf_reviews {
    color: #BFBFBF;
    font-size: 14px;
}

.subject_person {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.person_account_svg {
    height: 54px;
    width: 54px;
    fill: #BFBFBF;
}

.person_info {
    margin-left: 24px;
}

.person_place {
    display: flex;
    align-items: center;
}

.flag_svg {
    height: 15px;
    width: 20px;
}

.country_name {
    color: #BFBFBF;
    margin-left: 5px;
}

.comment {
    line-height: 21px;
}

.reviews_arrow-right {
    position: absolute;
    left: 100%;
    top: 25%;
    transform: translateX(-50%);
}

.nav_circles {
    display: none;
    line-height: 10px;
}

.nav_circles_svg {
    fill: #EAF0F9;
    height: 8px;
    width: 56px;
}

/*---------Footer-----------------------------------------------------------------*/
.footer {
    background-color: #10367C;
    color: #FFFFFF;
}

.footer__body {
    display: flex;
}

.footer__logo {
    display: none;
    fill: #FFFFFF;
    height: 19px;
    width: 98px;
}

.footer__content {
    flex: 0 1 33.333%;
    justify-content: space-between;
}

.footer__content p {
    font-weight: 500;
    font-size: 20px;
}

.footer__content a {
    font-size: 20px;
}

.footer__content li {
    margin-bottom: 24px;
}

.copyright {
    margin-top: 40px;
    font-size: 14px;
}