@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

section {
    color: #383838;
}

.container {
    padding: 120px 105px;
}

.text-adv {
    line-height: 47px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.highlight-stroke {
    margin: 20px auto 0;
    height: 4px;
    width: 100px;
    background-color: #F5BD41;
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 100%;
}

.advantages img {
    height: 100px;
    width: 100px;
    margin-bottom: 48px;
}

.features {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    width: 25%;
}

footer {
    background-color: #10367C;
}

.wrapper__container {
    display: flex;
    width: 100%;

}
.list-of-links{
   width: 33.3%;
}
.wrapper__container p {
    font-size: 20px;
    font-weight: 500;
}

.wrapper__container ul, a {
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0;
}
.wrapper__container li{
    margin-bottom: 24px;
}
.copyright{
    color: #FFFFFF;
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
}